.jumbotron {
    background-color: rgb(253, 201, 31);
    color: black;
    padding: 3vw;
    margin-top: 50px;
}

.hotel{
    padding: 1vw 2vw;
}

.btn{
    background-color: lightgray;
}

.btn:hover{
    background-color: rgb(253, 201, 31);
}

.banner{
    width: 100%;
    height: 300px;
}

.breadcrumb-link{
    color: darkgray;
}
.breadcrumb-link:hover{
    font-weight: bold;
    color: rgb(253, 201, 31);
}

.titulo-toggles{
    color: rgb(253, 201, 31);
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(253, 201, 31);
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
}

.redes{
    padding: 0 2vw;
}

.social{
    justify-content: center;
}

